<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="模拟采集卡.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <模拟采集卡.Properties.Settings>
            <setting name="PortName" serializeAs="String">
                <value>COM1</value>
            </setting>
            <setting name="ZedGraph_time" serializeAs="String">
                <value>0.1</value>
            </setting>
            <setting name="CsvTime" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="MAX" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MIN" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CH_SET" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RefreshTime" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="ADS1256_DRATE" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BaudRate" serializeAs="String">
                <value>115200</value>
            </setting>
        </模拟采集卡.Properties.Settings>
    </userSettings>
</configuration>